#page-title { 
	display: none;
}

.lists-index-intro {
	text-align: center;
	padding-bottom: 2rem;
}

ul.tm-lists-index {
    list-style-type: none;
    margin: auto;
    max-width: 100%;
    padding: 0;
}

ul.tm-lists-index li {
	/*font-family: 'Merriweather', serif;*/
	/*font-weight: 300;*/
	/*box-shadow: 0 4px 8px 0 rgba(0,0,0,.05);*/
	background-color: #ffffff;
	font-size: 18pt;
	border: 1px solid #eee;
	width: 100%;
	display: inline-block;
	clear:both;
	margin-top: 8px;
	padding: 1rem;
	box-shadow: 0 0.125rem 0 0 rgba(33, 48, 64, 0.1);
	border-radius: 0.25rem;
	color: #213040;
}

.tm-lists-label {
	display: flex;
	float: left;
	color: #037cb7;
}

.tm-lists-details {
	font-size: 10pt;
	font-weight: 300;
	color: #808080;
	display: flex;
	float: right;
}

/* List Views */

.tm-list-items ul {
    list-style-type: none;
    margin: auto;
    max-width: 850px;
    padding: 0;
}

.tm-list-items ul li.list-item {
	padding: 0;
	background-color: #ffffff;
	font-size: 14pt;
	border-bottom: 1px solid #eee;
	width: 100%;
	margin: auto;
	display: inline-block;
	clear:both;
	margin-top: 8px;
	/*box-shadow: 0 0.125rem 0 0 rgba(33, 48, 64, 0.1);*/
	/*border-radius: 0.25rem;*/
	padding-bottom: 16px;
	color: #213040;
}

.tm-list-intro {
	text-align: center;
	margin-bottom: 2.5rem;
	font-size: 14pt;
}

.tm-list-description {
	margin-top: 2.5rem;
	text-align: left;
}

.tm-list-meta-data {
	margin-top: 2rem;
	padding-top: 1rem;
	vertical-align: middle;
	text-align: center;
}

.tm-list-pageviews {
	
}

.tm-list-contributors {
	color: #213040;
	margin-left: 2rem;
}

.tm-list-contributors a {
	color: #213040 !important;
}

.tm-list-last-updated {
	font-style: italic;
	margin-left: 2rem;
	height: 32px;
}

img.tm-list-contributor-avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 2px;
}

.tm-lists-no-items {
	text-align: center;
}

#item-list-load-more {
	margin-top: 2rem;
}

/* List Item */

.tm-list-view-item-container {
	display: flex;
	align-items: center;
	border-top: 1px #eee;
	align-items: flex-start;
	max-width: 850px;
	margin: auto;
}

.featured .tm-list-view-item-container {
	padding-right: 2.5rem;
}

.tm-list-view-item-lhs {
	width: 200px;
	text-align: right;
	padding-top: 1.5rem;
}

.tm-list-view-item-rhs {
	width: 70%;
	padding-left: 2rem;
}

.tm-list-view-item-image {
	padding: 1rem;
	width: 128px;
	text-align: left;
}

.tm-list-view-item-position {
	float: right;
	font-size: 10pt;
	background-color: #222;
	color: #fff;
	font-weight: bold;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 16px;
	margin-top: 1.95rem;
	margin-bottom: -1.95rem;
}

@media screen and (min-width: 1200px) {
	.tm-list-view-item-position {
		margin-right: -3.25rem;
	}
}

.tm-list-view-item-position:before {
	content: '#';
}

.tm-list-view-item-image img.tm-list-item-avatar {
	width: 96px;
	height: 96px;
	object-fit: contain;
	border-radius: 50%;
}

.tm-list-view-item-image img.tm-list-item-cover {
	max-height: 96px;
	border-radius: 8px;
}

.tm-list-view-item-title {
	display: flex;
	align-items: center;
	margin-right: 2rem;
}

.tm-list-view-item-comment {
	padding: 0rem;
	vertical-align: top;
}

.tm-list-view-item-comment p {
	margin-top: 0;
}

.tm-list-view-item-links {
	padding-top: 1rem;
	margin-left: auto;
	font-size: 11.5pt;
}

.tm-list-view-item-link {
	overflow: hidden;
	padding-left: 0.25rem;
	margin-left: 0.25rem;
}

.tm-list-view-item-link.view-profile {
	padding-left: 0;
	margin-left: 0;
	border-left: none;
}

.tm-list-view-item-score {
	float: right !important;
	margin-right: 1rem;
	margin-top: 1.85rem;
	margin-bottom: -1.85rem;
}

.tm-list-view-item-anchor {
	display: block;
	position: relative;
	top: -56px;
	visibility: hidden;
}

@media screen and (max-width: 800px) {
	.tm-list-view-item-lhs {
		width: 100%;
		padding: 0;
		padding-top: 1rem;
		text-align: center;
	}
	.tm-list-view-item-rhs {
		width: 100%;
		padding: 0;
	}
	.tm-list-meta-data {
		display: flex;
		flex-direction: column;
	}
	.tm-list-pageviews { 
		margin-top: 0.5rem ;
	}
	.tm-list-contributors {
		margin-top: 0.75rem;
	}
	.tm-list-last-updated {
		margin-top: 0.5rem;
	}
	.tm-list-view-item-container {
		flex-direction: column;
	}
	.tm-list-view-item-score { 
	}
	.tm-list-view-item-position {

	}
	.tm-list-view-item-title {
		flex-direction: column;
		width: 100%;
		text-align: center;
		margin: 0.5rem;
	}
	.tm-list-view-item-title h2 {
		width: 100%;
		margin: 0;
	}
	.tm-list-view-item-image {
		width: 100%;
		padding: 0;
		text-align: center;
	}
	.tm-list-view-item-comment {
		margin: 0;
		padding-top: 0;
		width: 100%;
		text-align: left;
		padding: 0.25rem;
		padding-right: 0.25rem;
	}
	.tm-list-view-item-links {
		display: block;
		text-align: center;
		width: 100%;
	}
}

/* Options Menu */

.tm-list-item-actions-container {
	position: relative;
	width: 100px;
	float: right;
	text-align: right;
	margin-top: -24px;
}

li.tm-list-item-actions-dropdown {
	list-style-type: none;
}

.tm-list-item-actions-dropdown-menu li {
	padding: 0px !important;
	box-shadow: none !important;
}

.tm-list-item-actions a {
 	text-decoration: underline;
}

.tm-list-item-actions:before {
	font-size: 18pt;
	position: relative;
	top: 1px;
	margin-right: 0.2rem;
	content: "\e668";
	font-family: 'tm-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #888888;
}
.tm-list-item-actions-dropdown-menu li {
	padding: 0px !important;
	box-shadow: none !important;
}

.tm-list-item-actions a {
	text-decoration: underline;
}

.tm-list-item-actions-dropdown .inner {
	padding: 0;
	margin-right: -12px;
}

ul.tm-list-item-actions-dropdown-menu {
	text-align: left;
	margin: 0 !important;
}

/* Moderator menu */
.tm-list-moderate-menu {
	width: 100%;
	margin: auto;
	display: inline;
	margin-top: -42px;
	text-align: center;
}

.tm-list-moderate-menu .tm-list-item-actions-dropdown {
	position: absolute;
	right: 50%;
	text-align: left;
}

/* Pageviews */
.tm-list-pageviews {

}

.pageviews-wrapper {
    margin-left: 16px;
    height: 20px;
    line-height: 20px;
    clear: both;
    display: inline-block;
    text-align: left;
    width: 140px;
}

.pageviews-wrapper svg, .pageviews-wrapper-page svg {
    width: 18px;
    height: 22px;
    fill: #213040;
    float: left;
    margin-right: 2px;
}

.pageviews-wrapper-page {
    margin: auto;
    width: 140px;
    font-family: 'Lato';
    font-size: 11pt;
    font-weight: 300;
    height: 22px;
    clear: both;
    display: block;
    color: #40454a;
    margin-top: 32px;
}

.pageviews-wrapper-page svg {
    fill: #40454a;
    height: 18px;
}

@media screen and (max-width: 800px) {
	.tm-list-meta-data {
		margin-left: -1rem;
	}
	.pageviews-wrapper {
		padding-left: 1rem;
		width: 140px;
	}
	.tm-list-view-item-position {
		
	}
}

/* Markdown */

.tm-list-view-item-comment h1, .tm-list-view-item-comment h2, .tm-list-view-item-comment h3, .tm-list-view-item-comment h3 {
  margin-bottom: 0;
}

.tm-list-view-item-comment ul {
  list-style-type: circle;
  padding-left: 1em;
}

.tm-list-view-item-comment blockquote {
  border-left: 8px solid #ddd;
  padding-left: 8px;
  margin-left: 0px;
}

.tm-list-intro hr, .tm-list-view-item-comment hr {
  border: none;
  border-top: 1px solid #eee;
}

.tm-list-intro hr {
	width: 80%;
	margin: auto;
}

/* Featured */

.tm_list_featured .jqiclose {
	display: none;
}

/* OEmbed */

.tm-list-view-item-comment iframe {
	width: 100%;
	max-height: 320px;
}

.tm-list-view-item-comment iframe.instagram-media {
	width: 100%;
	max-height: inherit;
}

.tm-list-intro iframe {
	width: 80%;
}

.tiktok-embed iframe { 
	width: inherit !important;
	max-height: inherit !important;
}

@media screen and (max-width: 600px) {
	.iframe.instagram-media {
		width: 100% !important;
		margin: auto !important;
	}
}

blockquote.tiktok-embed {
	border-left: none;
	padding-left: none;
}

@media screen and (max-width: 500px) {
	.tiktok-embed iframe { 
		margin-left: -16px;
		width: 320px !important;
	}
	.tm-list-view-item-comment iframe.instagram-media {
		margin: auto;
	}
}
