h1.page__title {
	display: none;
}

h1.tm-checkout {
	text-align: center;
}

p.tm-cta-intro, .tm-cta-intro li {
  font-size: 14pt;
  line-height: 1.75rem;
}

p.tm-cta-intro a, .tm-cta-intro li a {
  text-decoration: underline;
}

.tm-subscribers-user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.tm-cta-details {
  color: #888;
  font-size: 11pt;
}

.tm-cta-details a {
  text-decoration: underline;
}

p.tm-checkout-error-message {
	text-align: center;
}

.tm-checkout-container {
	text-align: left;
	margin: auto;
	max-width: 800px !important;
}

#tm-checkout-button-container {
	margin-top: 48px;
	margin-bottom: 48px;
	text-align: center;
	height: 76px;
}

#checkout-button {
	background-color: #3838FC;
	font-size: 18pt;
	color: #fff;
	border-radius: 4px;
	border: none;
	padding: 8px 16px;
}

.tm-checkout-button-pricing-label {
	color: #888;
	font-size: 11pt;
	line-height: 2rem;
}

.tm-checkout-error-message {
	color: #888;
	font-size: 11pt;
	line-height: 1.75rem;
}

.tm-checkout-button-pricing-partner-code {
	margin-top: 4px;
	display: inline-block;
	color: #888;
	font-size: 11pt;
	border-top: 1px solid #ddd;
	padding-top: 2px;
}

.tm-cta-intro-footer {
  font-size: 12pt;
  color: #888;
}
