/* Custom search css */
.search.box { text-align: center; }
.search.login_message { text-align: center; display: none;}
.search.tip { display: none; font-size: 10pt;}
.search.tip-prefix { color: #79828c; font-size: 10pt;}
.search.tips { text-align: center;}
.search.welcome { text-align: center; font-size: 10pt;}
.search.spinner { text-align: center;}
.search.load-more-spinner { text-align: center;}
.search.empty_query { text-align: center; font-size: 10pt;}
.search.container { position: relative; margin: .5em;}
.search.filters {  padding: 0.25em; margin-bottom: .5em; display: none;}
.search.filters section { padding-left: 1.5rem !important; }
.search.results { padding: 0.25em; }
.search.info { padding-left: 1rem; margin-bottom: -0.5rem; margin-top: 3rem;}
.search.placeholder { min-height: 200px; }
.has-results { min-height: 900px !important;}
.search.timeout { text-align: center; display: none; font-size: 10pt; font-weight: bold;}
.search.error-message { text-align: center; display: none; font-size: 10pt; font-weight: bold;}
.label-filter { display: inline;}
ul.filter { padding-left: 0px ;}
li.filter { list-style: none;}
.search-results-time { font-size: 10pt; color: #222;}
.search.noresults { display: none; margin-left: 0.5rem;}
.search.highlight { font-weight: bold;}
.prime-title.search-result a:hover { color: #3080b2;}
.prime-title.search-result a { text-decoration: underline;}
.card.search-result { padding-top: 0.5rem; padding-bottom: 0.5rem;}
img.search-result-image { max-height: 64px;}
.search-result p { color: #79828c;}
.search.highlight { background-color: #ffff00;}
.search-help { font-size: 10pt;}
.search-help ul { padding-left: 1.2rem;}

/* Local overrides */
.page-search .contained-block { padding: 0px !important; }
.page-search .item-list { box-shadow: none !important; padding: 0px !important;}


/* Media query columns */
@media screen and (min-width: 47.5em ) {
  .search.results { margin-right: 19.5em; }
  .search.filters { position: absolute; top: 0; right: 0; width: 18.75em; }
}

/* Media query search box */
@media screen and (min-width: 500px ) {
	#search-query { max-width: 400px !important; }
}

/* Media query help box */
@media screen and (max-width: 500px ) {
    .search-help { display: none !important;}
}




/* Search button */
.post-button-blue { 
	box-shadow: rgb(0, 88, 126) 0px -2px 0px 0px inset;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 32px;
    max-width: 100%;
    min-height: 32px;
    text-align: center;
    white-space: nowrap;
    width: 202px;
    z-index: 0;
    align-items: flex-start;
    perspective-origin: 136px 16px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 136px 16px;
    background: rgb(0, 126, 181) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 800 normal 16px/24px Raleway, sans-serif;
    list-style: none outside none;
    margin: 8px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 4px 12px;
    transition: opacity 0.2s ease 0s, top 0.1s ease 0s, left 0.2s ease 0s, right 0.2s ease 0s;
}