// Set box-sizing globally to handle padding and border widths
// Originally included in the html-classes of Foundation, but we're not loading
// those.

html, body {
  height: 100%;
  font-size: $base-font-size;
}

body {
  background: $body-bg;
  color: $body-font-color;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-style: $body-font-style;
  position: relative;
  cursor: $cursor-default-value;
}

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

.row {
  @media #{$small-up} {
    padding-left: $xspace;
    padding-right: $xspace;
  }
}

a:link,
a:visited,
button,
.form-submit {
  @include transform(translate3d(0, 0, 0));
  @include transition-property(opacity, top, left, right);
  @include transition-duration(0.2s, 0.1s, 0.2s, 0.2s);
  @include transition-timing-function(ease, ease, ease, ease);
  @include transition-delay(0, 0, 0, 0);
  cursor: pointer;
  color: $secondary-color;
  text-decoration: none;
}

a:hover,
a:focus,
button:hover,
.form-submit:hover {
  outline: none;
  opacity: 0.7;
}

a:active,
button:active,
.form-submit:active {
  position: relative;
  top: 2px;
}

a.disabled, .bttn.disabled, .form-submit.disabled {
  opacity: 0.4;
  cursor: default;
  &:hover, &:focus {
    opacity: 0.4;
  }
}

.cta-inline {
  font-weight: $body-font-bold;
  &:after {
    @extend .icon-s-arr-right;
    vertical-align: bottom;
    font-weight: normal;
  }
}

#page, #site-canvas {
  background: tint($primary-color, 90%);
}

#main {
  padding: 2rem 0;
  @media #{$medium-up} {
    padding: 3rem 0;
  }
}

#header {
  position: relative;
  z-index: 10;
  padding: 1rem 0;
  background: #FFF;
  box-shadow: 0 0.125rem 0 0 rgba($primary-color, 0.1);
}

#site-title {
  @include grid-column(5);
  margin: 0;
  a {
    float: left;
  }
  span {
    @extend .visually-hidden;
    background-color: red;
  }
  img {
    display: block;
    height: 2rem;
  }
  @media #{$medium-up} {
    @include grid-column(2);
    img {
      height: 3rem;
    }
  }
}

#prime-nav {
  @include grid-column(7);
  h1, h2 .hide { @extend .visually-hidden; }
  h2 {
    float: left;
    margin: 0;
  }
  > ul {
    float: right;
    @include reset-list();
    > li {
      position: relative;
      float: left;
      margin-left: 1rem;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .toggle {
    display: block;
    color: $primary-color;
    text-align: center;
    line-height: 2rem;
    &:before {
      display: block;
      font-size: 1.5rem;
      height: 2rem;
      width: 2rem;
    }
    &.on {
      color: $secondary-color;
    }
  }
  .inner {
    min-width: 19rem;
  }
  .browse-wrapper {
    .toggle:before {
      @extend .icon-menu;
    }
    .inner {
      right: -6.5rem;
      &:before {
        right: 7rem;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      a {
        display: block;
        color: $primary-color;
        text-transform: uppercase;
        font-weight: $body-font-bold;
        font-size: 1rem;
        line-height: 2rem;
      }
    }
  }
  .search-wrapper {
    .toggle:before {
      @extend .icon-search-r;
    }
    .inner {
      right: -3.5rem;
      &:before {
        right: 4rem;
      }
    }
  }
  .account-wrapper {
    .toggle {
      .avatar {
        display: block;
        padding: 0.25rem;
        width: 2rem;
        height: 2rem;
        // box-shadow: 0 0 0 1px rgba($primary-color, 0.1);
        border-radius: $global-radius/2;
        background: #FFF;
      }
      img {
        display: block;
        border-radius: $global-radius/2;
        max-width: 100%;
      }
      &:before {
        @extend .icon-user;
      }
    }
    .inner {
      right: -0.5rem;
    }
    .logged-in & {
      .toggle {
        // &.on {
        //   .avatar {
        //     box-shadow: 0 0 0 1px rgba($secondary-color, 0.2);
        //   }
        // }
        &:before {
          display: none;
        }
      }
    }
  }
  @media #{$medium-up} {
    @include grid-column(10);
    > ul {
      padding: 0.5rem 0;
    }
    .browse-wrapper {
      .toggle:before {
        display: none;
      }
      .inner {
        position: static;
        top: auto;
        left: auto;
        margin-top: 0;
        padding: 0;

        opacity: 1;
        visibility: visible;
        box-shadow: none;
        &:before {
          display: none;
        }
      }
      li {
        float: left;
        margin-left: 1.5rem;
      }
    }
    .search-wrapper {
      margin-left: 2rem;
    }
  }
}

// #content spans 12 cols to make sure anything that ends up there abides to
// the grid. Make sure to include a nested row around layouts that implement
// more columns inside of content.

#content {
  @include grid-column(12);

  // Display Suite layout Trilithon
  .trilithon {
    @include grid-row($behavior: nest);
    .banner,
    .column {
      @include grid-column(12);
    }
    @media #{$medium-up} {
      .column {
        @include grid-column(6);
      }
    }
  }

  // Mostly used by hubs (implemented with Views)
  .grid {
    ul {
      @include grid-row($behavior: nest);
      padding: 0;
    }
    li {
      @include grid-column(12);
      list-style: none;
    }
    @media #{$small-up} {
      li {
        @include grid-column(6);
        &:nth-child(2n+1) {
          clear: left;
        }
      }
    }
    @media #{$large-up} {
      li {
        @include grid-column(4);
        &:nth-child(2n+1) {
          clear: none;
        }
        &:nth-child(3n+1) {
          clear: left;
        }
      }
    }
  }
}

// The user and node forms will not span 12 columns on bigger display sizes
.page-user-edit #content,
.page-node-edit #content {
  @media #{$medium-up} {
    @include grid-column($columns: 10, $offset: 1);
  }
  @media #{$large-up} {
    @include grid-column($columns: 8, $offset: 2);
  }
}

#footer {
  position: relative;
  background: tint($primary-color, 80%);
  padding: 2rem 0 1rem 0;
  color: tint($primary-color, 20%);
  a {
    color: tint($primary-color, 20%);
  }
}

#foot-nav {
  @include grid-column(12);
  .inner {
    @include grid-row($behavior: nest);
  }
  h2 {
    @extend .hd-xs;
    text-transform: uppercase;
  }
  section {
    @include grid-column(6);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 2rem 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    li {
      overflow: hidden;
      margin-bottom: 0.25rem;
    }
  }
  a {
    float: left;
    position: relative;
    padding-left: 1.375rem;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1rem;
      color: tint($primary-color, 40%);
      @extend .icon-s-arr-right;
    }
  }
  .facebook:before { @extend .icon-facebook; }
  .linkedin:before { @extend .icon-linkedin; }
  .twitter:before { @extend .icon-twitter; }
  .instagram:before { @extend .icon-instagram; }

  @media #{$small-up} {
    @include grid-column(8);
  }
  @media #{$medium-up} {
    section {
      @include grid-column(4);
    }

  }
}

#foot-credits {
  @include grid-column(12);
  border-top: 1px solid tint($primary-color, 70%);
  padding-top: 2rem;
  p {
    overflow: hidden;
    margin: 0 0 0.75rem 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .logo {
    float: left;
    img {
      opacity: 0.8;
      height: 2rem;
    }
    a {
      padding: 0.25rem 0;
      float: left;
      margin: 0 1rem 0.5rem 0;
    }
    span {
      @extend .visually-hidden;
    }
  }
  small {
    float: left;
    font-size: inherit;
  }
  time {
    display: block;
  }
  @media #{$small-up} {
    @include grid-column(4);
    border-top: none;
    padding-top: 0;
  }
  @media #{$medium-up} {
    .logo {
      float: none;
      display: block;
      overflow: hidden;
      a {
        clear: both;
      }
    }
    small {
      float: none;
      display: block;
    }
  }
}

.media-obj,
.media-obj > a {
  display: table;
  width: 100%;
}

.media-obj {
  .media-fig,
  .media-bd {
    display: table-cell;
    vertical-align: middle;

    .media-top & {
      vertical-align: top;
    }
    .media-bottom & {
      vertical-align: bottom;
    }
  }

  .media-fig {
    padding-right: 1rem;

    img {
      display: block;
      max-width: none;
    }
    .media-rev & {
      padding-right: 0;
      padding-left: 1rem;
    }
  }

  .media-bd {
    width: 100%;
  }
}


/* IE<9 */

.lt-ie9 {
  body {
    background: tint($primary-color, 90%);
  }
  #page, #site-canvas {
    display: none;
  }
  #nocando {
    margin: 200px auto;
    padding: 0 20px;
    width: 440px;
    h1 {
      color: inherit;
      line-height: 1.1;
      margin-bottom: 40px;
    }
  }
}
