// Set box-sizing globally to handle padding and border widths
// Originally included in the html-classes of Foundation, but we're not loading
// those.

html, body {
  height: 100%;
  font-size: $base-font-size;
}

body {
  background: $body-bg;
  color: $body-font-color;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-style: $body-font-style;
  position: relative;
  cursor: $cursor-default-value;
}

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

.row {
  @media #{$small-up} {	
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

a:link,
a:visited,
button {
  @include transform(translate3d(0, 0, 0));
  @include transition-property(opacity, top, left, right);
  @include transition-duration(0.2s, 0.1s, 0.2s, 0.2s);
  @include transition-timing-function(ease, ease, ease, ease);
  @include transition-delay(0, 0, 0, 0);
  cursor: pointer;
  color: $secondary-color;
  text-decoration: none;
}

a:hover,
a:focus,
button:hover {
  outline: none;
  opacity: 0.7;
}

a:active,
button:active {
  position: relative;
  top: 2px;
}

a.disabled, .bttn.disabled {
  opacity: 0.4;
  cursor: default;
  &:hover, &:focus {
    opacity: 0.4;
  }
}

#page {
  background: tint($primary-color, 90%);
}

#header {
  position: relative;
  z-index: 10;
  padding: 1rem 0;
  background: #FFF;
  box-shadow: 0 0.25rem 0 0 rgba($primary-color, 0.1);
}

#site-title {
  @include grid-column(5);
  margin: 0;
  a {
    float: left;
  }
  span {
    @extend .visually-hidden;
    background-color: red;
  }
  img {
    display: block;
    height: 2rem;
  }
  @media #{$medium-up} {
    @include grid-column(2);
    img {
      height: 3rem;
    }
  }
}

#prime-nav {
  @include grid-column(7);
  h1, h2 span { @extend .visually-hidden; }
  h2 {
    float: left;
    margin: 0;
  }
  > ul {
    float: right;
    @include reset-list();
    > li {
      position: relative;
      float: left;
      margin-left: 1rem;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .toggle {
    display: block;
    color: $primary-color;
    text-align: center;
    line-height: 2rem;
    &:before {
      display: block;
      font-size: 1.5rem;
      height: 2rem;
      width: 2rem;
    }
    &.on {
      color: $secondary-color;
    }
  }
  .inner {
    min-width: 19rem;
    padding: 1rem;
  }
  .browse-wrapper {
    .toggle:before {
      @extend .icon-menu;
    }
    .inner {
      right: -6.5rem;
      &:before {
        right: 7rem;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      a {
        display: block;
        color: $primary-color;
        text-transform: uppercase;
        font-weight: $body-font-bold;
        font-size: 1rem;
        line-height: 2rem;
      }
    }
  }
  .search-wrapper {
    .toggle:before {
      @extend .icon-search-r;
    }
    .inner {
      right: -3.5rem;
      &:before {
        right: 4rem;
      }
    }
  }
  .account-wrapper {
    .toggle:before {
      @extend .icon-user;
    }
  }
  @media #{$medium-up} {
    @include grid-column(10);
    > ul {
      padding: 0.5rem 0;
    }
    .browse-wrapper {
      .toggle:before {
        display: none;
      }
      .inner {
        position: static;
        top: auto;
        left: auto;
        margin-top: 0;
        padding: 0;
        
        opacity: 1;
        visibility: visible;
        box-shadow: none;
        &:before {
          display: none;
        }
      }
      li {
        float: left;
        margin-left: 1.5rem;
      }
    }
    .search-wrapper {
      margin-left: 2rem;
    }
  }
}

// #content spans 12 cols to make sure anything that ends up there abides to
// the grid. Make sure to include a nested row around layouts that implement
// more columns inside of content.

#content {
  @include grid-column(12); 
  
  // Display Suite layout Trilithon
  .trilithon {
    @include grid-row($behavior: nest);
    .banner,
    .column {
      @include grid-column(12);
    }
    @media #{$medium-up} {
      .column {
        @include grid-column(6);
      }
    }
  }

  // Mostly used by hubs (implemented with Views)
  .grid {
    ul {
      @include grid-row($behavior: nest);
      padding: 0;
    }
    li {
      @include grid-column(12);
      list-style: none;
    }
    @media #{$small-up} {
      li {
        @include grid-column(6);
        &:nth-child(2n+1) {
          clear: left;
        }
      }
    }
    @media #{$medium-up} {
      li {
        @include grid-column(4);
        &:nth-child(2n+1) {
          clear: none;
        }
        &:nth-child(3n+1) {
          clear: left;
        }
      }
    }
    @media #{$large-up} {
      li {
        @include grid-column(3);
        &:nth-child(3n+1) {
          clear: none;
        }
        &:nth-child(4n+1) {
          clear: left;
        }
      }
    }
  }
}

#foot-nav {
  section {
    @include grid-column(12);
    @media #{$medium-up} {
      @include grid-column(4);
    }
  }
}

#footer {
  background: tint($primary-color, 80%);
  padding: 2rem 0;
  .logo,
  #copyright {
    @include grid-column(6);
    @media #{$medium-up} {
      @include grid-column(2);
    }
  }
}