// Set box-sizing globally to handle padding and border widths
// Originally included in the html-classes of Foundation, but we're not loading
// those.

html, body {
  height: 100%;
  font-size: $base-font-size;
}

body {
  background: $body-bg;
  color: $body-font-color;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-style: $body-font-style;
  position: relative;
  cursor: $cursor-default-value;
}

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

.row {
  @media #{$small-up} {
    padding-left: $xspace;
    padding-right: $xspace;
  }
}

a:link,
a:visited,
button,
.form-download,
.form-submit{
  @include transform(translate3d(0, 0, 0));
  @include transition-property(opacity, top, left, right);
  @include transition-duration(0.2s, 0.1s, 0.2s, 0.2s);
  @include transition-timing-function(ease, ease, ease, ease);
  @include transition-delay(0, 0, 0, 0);
  cursor: pointer;
  color: $secondary-color;
  text-decoration: none;
}

a:hover,
a:focus,
button:hover,
.form-download:hover,
.form-submit:hover {
  outline: none;
  opacity: 0.7;
}

a:active,
button:active,
.form-download:active,
.form-submit:active {
  position: relative;
  top: 2px;
}

a.disabled, .bttn.disabled, .form-submit.disabled, .form-download.disabled {
  opacity: 0.4;
  cursor: default;
  &:hover, &:focus {
    opacity: 0.4;
  }
}

.cta-inline {
  font-weight: $body-font-bold;
  &:after {
    @extend .icon-s-arr-right;
    vertical-align: bottom;
    font-weight: normal;
  }
}

.item-list {
  text-align: center;
  font-size: 0;
}

#page, #site-canvas {
  background: tint($primary-color, 95%);
}

#main {
  padding: 2rem 0;
  @media #{$medium-up} {
    padding: 3rem 0;
  }
}

#header {
  position: relative;
  z-index: 10;
  padding: 1rem 0;
  background: #FFF;
  box-shadow: 0 0.125rem 0 0 rgba($primary-color, 0.1);
  overflow: visible !important;
}

#site-title {
  @include grid-column(5);
  margin: 0;
  a {
    float: left;
  }
  span {
    @extend .visually-hidden;
    background-color: red;
  }
  img {
    display: block;
    height: 3rem;
  }
  @media #{$medium-up} {
    @include grid-column(2);
    img {
      height: 3rem;
    }
  }
}

#prime-nav {
  @include grid-column(7);
  h1, h2 .hide { @extend .visually-hidden; }
  h2 {
    float: left;
    margin: 0;
  }
  > ul {
    float: right;
    @include reset-list();
    > li {
      position: relative;
      float: left;
      margin-left: 1rem;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .prime-nav-wrappers {
    padding-top: 0.5rem;
  }
  .toggle {
    display: block;
    color: $primary-color;
    text-align: center;
    line-height: 2rem;
    &:before {
      display: block;
      font-size: 1.5rem;
      height: 2rem;
      width: 2rem;
    }
    &.on {
      color: $secondary-color;
    }
  }
  .inner {
    min-width: 19rem;
  }
  .browse-wrapper {
    .toggle:before {
      @extend .icon-menu;
    }
    .inner {
      right: -6.5rem;
      &:before {
        right: 7rem;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      a {
        display: block;
        color: $primary-color;
        text-transform: uppercase;
        font-weight: $body-font-bold;
        font-size: 1rem;
        line-height: 2rem;
      }
    }
  }
  .newsfeed-wrapper {
    .toggle:before {
      @extend .icon-2016-globe;
      font-size: 28pt;
      color: #007DB7;
    }
  }
  .search-wrapper {
    .toggle:before {
      @extend .icon-search-r;
    }
    .inner {
      right: -3.5rem;
      &:before {
        right: 4rem;
      }
    }
    .search-form {
      label {
        @extend .visually-hidden;
      }
      #search-box-submit,
      #edit-submit--2 {
        width: 100%;
        @extend .bttn-secondary;
        margin: 0.5rem 0 0 0;
      }
    }
    .helper {
      font-size: 0.85rem;
      line-height: 1.25rem;
      color: tint($primary-color, 30%);
      margin: 0;
    }
  }
  .account-wrapper {
    .toggle {
      .avatar {
        display: block;
        padding: 0.1rem;
        width: 2rem;
        height: 2rem;
        // box-shadow: 0 0 0 1px rgba($primary-color, 0.1);
        // border-radius: $global-radius/2;
        background: #FFF;
      }
      img {
        border-radius: 50%;
        display: block;
        max-width: 100%;
      }
      &:before {
        @extend .icon-user;
      }
      &.account-style-1:before {
      @extend .icon-member-style-1;
      font-size: 21pt;
      }
      &.account-style-2:before {
        @extend .icon-member-style-2;
        font-size: 21pt;
      }
    }
    .inner {
      right: -0.5rem;
    }
    .logged-in & {
      .toggle {
        // &.on {
        //   .avatar {
        //     box-shadow: 0 0 0 1px rgba($secondary-color, 0.2);
        //   }
        // }
        &:before {
          display: none;
        }
      }
    }
  }
  @media #{$medium-up} {
    @include grid-column(10);
    > ul {
      padding: 0.5rem 0;
    }
    .prime-nav-wrappers {
    }
    .newsfeed-wrapper {
      margin-left: 0.5rem;
    }
    .search-wrapper {
      margin-left: 0.5rem;
    }
  }
  @media #{$medium-up} {
    .browse-wrapper {
      .toggle:before {
        display: none;
      }
      .inner {
        position: static;
        top: auto;
        left: auto;
        margin-top: 0;
        padding: 0;

        opacity: 1;
        visibility: visible;
        box-shadow: none;
        &:before {
          display: none;
        }
      }
      ul {
        margin-right: 1.5rem;
      }
      li {
        float: left;
        margin-left: 1.5rem;
      }
    }
  }
}

// #content spans 12 cols to make sure anything that ends up there abides to
// the grid. Make sure to include a nested row around layouts that implement
// more columns inside of content.

#content {
  @include grid-column(12);

  // Display Suite layout Trilithon
  .trilithon {
    @include grid-row($behavior: nest);
    .banner,
    .column {
      @include grid-column(12);
    }
    @media #{$medium-up} {
      .column {
        @include grid-column(6);
      }
    }
  }

  // Mostly used by hubs (implemented with Views)
  .grid .view-content {
    ul {
      @include grid-row($behavior: nest);
      padding: 0;
    }
    li {
      @include grid-column(12);
      list-style: none;
    }
    @media #{$small-up} {
      li {
        @include grid-column(6);
        &:nth-child(2n+1) {
          clear: left;
        }
      }
    }
    @media #{$large-up} {
      li {
        @include grid-column(4);
        &:nth-child(2n+1) {
          clear: none;
        }
        &:nth-child(3n+1) {
          clear: left;
        }
      }
    }
  }
}

// The user and node forms will not span 12 columns on bigger display sizes
.page-node-add #content,
.page-node-communicate #content,
.page-events-message #content,
.page-payment-reports #content,
.page-events-download-csv #content,
.page-chapter-download-csv #content,
.page-contact #content,
.page-node-rsvp #content,
.page-user-edit #content,
.page-user-register #content,
.page-node-edit #content {
  @media #{$medium-up} {
    @include grid-column($columns: 10, $offset: 1);
  }
  @media #{$large-up} {
    @include grid-column($columns: 8, $offset: 2);
  }
}

#footer {
  position: relative;
  background: #121212;
  padding: 2rem 0 1rem 0;
  color: #efefef;
  a {
    color: #ffffff;
  }
}

#foot-nav {
  @include grid-column(12);
  .inner {
    @include grid-row($behavior: nest);
  }
  h2 {
    @extend .hd-xs;
    text-transform: uppercase;
  }
  section {
    @include grid-column(6);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 2rem 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    li {
      overflow: hidden;
      margin-bottom: 0.25rem;
    }
  }
  a {
    float: left;
    position: relative;
    padding-left: 1.375rem;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1rem;
      color: tint($primary-color, 40%);
      @extend .icon-s-arr-right;
    }
  }
  .facebook:before { @extend .icon-facebook; }
  .linkedin:before { @extend .icon-linkedin; }
  .twitter:before { @extend .icon-twitter; }
  .instagram:before { @extend .icon-instagram; }
  .youtube:before { @extend .icon-youtube; }
  .vimeo:before { @extend .icon-vimeo; }
  .snapchat:before { @extend .icon-snapchat; }
  .tiktok:before { @extend .icon-tiktok; }

  @media #{$small-up} {
    @include grid-column(8);
  }
  @media #{$medium-up} {
    section {
      @include grid-column(4);
    }

  }
}

#foot-credits {
  @include grid-column(12);
  border-top: 1px solid tint($primary-color, 70%);
  padding-top: 2rem;
  p {
    overflow: hidden;
    margin: 0 0 0.75rem 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .logo {
    float: left;
    img {
      opacity: 0.8;
      height: 2rem;
    }
    a {
      padding: 0.25rem 0;
      float: left;
      margin: 0 1rem 0.5rem 0;
    }
    span {
      @extend .visually-hidden;
    }
  }
  small {
    float: left;
    font-size: inherit;
  }
  time {
    display: block;
  }
  @media #{$small-up} {
    @include grid-column(4);
    border-top: none;
    padding-top: 0;
  }
  @media #{$medium-up} {
    .logo {
      float: none;
      display: block;
      overflow: hidden;
      a {
        clear: both;
      }
    }
    small {
      float: none;
      display: block;
    }
  }
}

.media-obj,
.media-obj > a {
  display: table;
  width: 100%;
}

.media-obj {
  .media-fig,
  .media-bd {
    display: table-cell;
    vertical-align: middle;

    .media-top & {
      vertical-align: top;
    }
    .media-bottom & {
      vertical-align: bottom;
    }
  }

  .media-fig {
    padding-right: 1rem;

    img {
      display: block;
      max-width: none;
    }
    .media-rev & {
      padding-right: 0;
      padding-left: 1rem;
    }
  }

  .media-bd {
    width: 100%;
  }
}

#footer-sponsors {
  height: 3rem; 
  padding-left: 1rem; 
  padding-top: 1.2rem; 
  border-top: 1px solid tint($primary-color, 20%);
}

.sponsors-headline {
  font-size: 12pt; 
  font-weight: bold; 
  color: tint($primary-color, 50%);
}

/* IE<9 */

.lt-ie9 {
  body {
    background: tint($primary-color, 90%);
  }
  #page, #site-canvas {
    display: none;
  }
  #nocando {
    margin: 200px auto;
    padding: 0 20px;
    width: 440px;
    h1 {
      color: inherit;
      line-height: 1.1;
      margin-bottom: 40px;
    }
  }
}

/* Views load more pager */
.pager-load-more .ajax-progress-throbber {
  position: absolute;
  margin-left: 16px;
  margin-top: 8px;
}

.pager-load-more .ajax-progress-throbber .throbber {
  width: 24px;
  background: transparent url('../images/load-more-ajax-loader-2.gif') no-repeat 0px 0px;
}

/* Blur filter for jq_alert */
.tm-blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

/* Blur filter for jq_alert (large) */
.tm-blur-filter-large {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

/* Payments form message */
.tm-payments-edit-form-message {
  background-color: #1ABC9C;
  color: #fff;
  border-radius: 4px;
  padding: 1rem;
  margin-top: 16px;
  margin-bottom: 1rem;
}

.tm-payments-edit-form-message a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

.form-field-name-field-event-payment-early-date .fieldset-description {
  font-size: 0.85rem;
  color: #79828c;
  margin-top: 16px;
}

/* Event registration and chapter announcement tips */
.tm-event-send-announcement-tips,
.tm-chapters-send-announcement-tips,
.tm-event-manage-registrations-tips { 
  padding-left: 2rem;
  margin-top: 2rem;
  color: #51616e;
  background-color: #eee;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 10pt;
}

/* Announcement steps */
.tm-event-send-announcement-step, .tm-chapter-send-announcement-step {
  color: #ffffff;
  padding-top: 0.5rem;
  background-color: #007CB9;
  padding: 8px;
  border-radius: 8px;
}

/* Chapter sticker for external events */
.chapter-sticker-icon, .organization-sticker-icon {
  width: auto !important;
  white-space: nowrap;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
.chapter-sticker-icon:before {
  @extend .icon-share;
}
.organization-sticker-icon:before {
  @extend .icon-2017-subscriber;
  font-size: 16pt;
  position: relative;
  top: 0.25rem;
}


/* Checkboxes in forms */
.page-node-edit .form-type-checkbox {
  margin-top: 1.0rem !important;
}
.page-node-add .form-type-checkbox {
  margin-top: 1.0rem !important;
}

/* Alternative dates for online event */
.date-alternative {
  color: #51616e;
  border-left: 2px solid #EEE;
  margin-left: -6px;
  padding-left: 4px;
}
.date.date-alternative {
  margin-top: 6px;
}

/* Payment reports */
.tm-payments-report-table, .tm-subscriptions-report-table { 
  width: 100%;
  margin-top: 0px;
  padding: 1rem;
  border-radius: 4px !important;
  background-color: #FFF;
}

.tm-payments-report-table table, .tm-subscriptions-report-table table {
  cellspacing: 4px;
}

.tm-payments-report-table th, .tm-subscriptions-report-table th { 
  border-bottom: 1px solid #888;
  background-color: #fff;
  text-align: left;
  padding-left: 0.5rem;
}

.tm-payments-report-table tr, .tm-subscriptions-report-table tr  { 
  border-radius: 2px;
  background-color: #fff;
}

.tm-payments-report-table td, .tm-subscriptions-report-table td  { 
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: smaller;
}

.tm-payments-report-extra, .tm-subscriptions-report-extra {
  white-space:nowrap;
}

.tm-payments-report-status, .tm-subscriptions-report-status  {
  border-radius: 4px;
}

.tm-payments-report-status, .tm-subscriptions-report-status {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  white-space: nowrap;
}

.tm-payments-report-status.paid, .tm-subscriptions-report-status.paid  {
  background-color: #007CB9;
  color: #fff;
}

.tm-payments-report-status.refunded, .tm-subscriptions-report-status.refunded  {
  /* background-color: #E94B35; */
  background-color: #888;
  color: #fff;
}

.tm-payments-report-status.paid_out, .tm-subscriptions-report-status.paid_out {
  background-color: #00BD9C;
  color: #fff;
}

.tm-subscriptions-report-edit {
  font-size: smaller;
  text-decoration: underline;
  font-weight: normal;
}

.tm-subscriptions-report-add {
  font-weight: bold;
}

@media print {
  .tm-subscriptions-report-edit, .tm-subscriptions-report-add { display: none; }
}

@media only screen and (max-width: 500px) {
  .tm-payments-report-extra {
    display: none;
  }
}

/* Status updates */

.tm-status-update-promoted { 
  margin-right: 0.5rem;
  color: #FFA600;
  margin-top: -2px;
  &:before { position: relative; top: 2px;  margin-right: 0.2rem; @extend .icon-2016-tag; font-size: 12pt; }
}

.tm-status-update-location { 
  margin-right: 0.5rem;
  &:before { font-size: 8pt; margin-right: 0.2em; @extend .icon-map-marker; }
}

#tm-status-update-location-field {
  &:before { font-size: 9pt; margin-right: -0.2em; @extend .icon-map-marker; }
}

.tm-status-update-location a {
  text-decoration: none;
}

.tm-status-update-location a:hover {
  text-decoration: underline;
}

.tm-status-update-details {
  color: #888;
}

.tm-status-update-details a {
  color: #888;
}

.tm-status-update-views {
  margin-right: 0.5rem;
  margin-top: -2px;
  &:before { font-size: 12pt; position: relative; top: 2px; margin-right: 0.2rem; @extend .icon-2016-eye; }
}

.tm-status-update-popular { 
  margin-right: 0.5rem;
  margin-top: -2px;
  &:before { font-size: 12pt; position: relative; top: 2px; margin-right: 0.2rem; @extend .icon-2016-flames; color: #F1805A; }
}

.tm-status-update-actions {
  &:before { font-size: 18pt; position: relative; top: 1px; margin-right: 0.2rem; @extend .icon-2016-dots; }
}

li.tm-status-update-actions-dropdown {
  list-style-type: none;
  position: absolute;
  right: 12px;
}

.tm-status-update-actions-dropdown-menu li {
  padding: 0px !important;
  box-shadow: none !important;
}

.tm-status-update-actions a {
  text-decoration: underline;
}

.tm-status-update-time {
  color: #888 !important;
  font-weight: normal !important; 
}

.tm-status-update-posted-by {
  color: #888 !important;
  font-weight: normal !important; 
}

.tm-status-update-separator {
  margin-left: 0.2rem;
  color: #888 !important;
}

.tm-status-updates-loader li { 
  list-style-type: none;
}

/* Status update link previews */

.tm-status-update-preview { 
  min-height: 112px;
  margin-top: 16px; 
  padding: 0px; 
  background-color: #fff; 
  border: 1px solid #e1e8ed; 
  border-radius: 4px;
}

.status-update-container .tm-status-update-preview {
  margin-left: 80px;
}

img.tm-status-update-preview-image { 
  float: left;
  width: 96px;
  margin-right: 8px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-left: 1px solid #e1e8ed;
  border-top: 1px solid #e1e8ed;
  margin-left: -1px;
  margin-top: -1px;
}

.tm-status-update-preview-body {
  overflow: hidden;
  padding: 8px;
  font-size: 14px;
  min-height: 97px;
  font-size: 14px;
}

.tm-status-update-preview h4 { 
  margin-top: 0px; 
  margin-bottom: 4px;
}

/* reference: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container */
.tm-wrap-long-text {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

@media only screen and (max-width: 650px) {
  .status-update-container { padding-right: 2.2rem !important; }
  .tm-status-update-preview { width: 100%; margin-left: 0px; margin-top: 16px; }
  .tm-status-update-details { padding-right: 2.2rem; }
  .status-update-container .tm-status-update-preview { margin-left: 0px; }
  p.status-updates { margin-bottom: 16px; }
}

@media only screen and (max-width: 395px) {
  .tm-status-update-preview { margin-top: 16px; }
}

/* Hide search icon on small screen */
@media only screen and (max-width: 320px) {
  .search-wrapper { display: none; }
}

#moderation_event_ids {
  width: 256px; 
}

#moderation_chapter_ids {
  width: 245px;
}

// New navbar
.topnav-search-container {

  float: left;
  width: 50%;
  margin-top: 0.5rem;
  display: none;

  @media #{$small-up} {
    display: block;
    margin-left: -60px;
    width: 220px;
  }

  @media only screen and (max-width: 650px) {
    display: none;
  }

  @media #{$medium-up} {
    display: block;
    margin-left: 250px;
  }
}

.topnav-search-inner {
  width: 196px;
  @media #{$medium-up} {
    width: 296px;
  }
}

#topnav-search-textfield {
  background-color: #efefef;
  margin: 0 auto;
  padding-left:32px;
}

.topnav-search-icon {
  position:absolute;
  padding:4px 8px;
  color:#aaa;
  width: 0px; height: 0px;
}

.topnav-search-icon:before {
  content: "\e610";
  font-family: 'tm-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12pt;
}

.top-navbar {
  background-color: #037cb7;
  color: #fff;
  padding: 0.5rem;
  display: none;
  @media #{$medium-up} {
    display: block;
  }
}

.top-navbar a {
  color: #fff;
}

.topnav-links-lhs {
  display: inline-block;
  float: left;
  @media #{$large-up} {
   padding-left: 1rem;
  }
}

.topnav-links-rhs {
  float: right;
  display: none;
  padding-right: 1.0rem;
  @media #{$medium-up} {
    display: inline-block;
  }
}

#topnav-links-dropdown {
  @media #{$medium-up} {
    display: none;
  }
  .more {
    display: block;
    position: relative;
    text-align: center;
    font-style: normal;
    color: tint($primary-color, 40%);
    margin: 0.5rem 0;
    text-transform: uppercase;
    font-size: 0.85rem;
    &:before,
    &:after {
      position: absolute;
      top: 50%;
      z-index: 1;
      height: 1px;
      width: 40%;
      content: '';
      background: tint($primary-color, 90%);
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
}

.topnav-links-search:before {
  content: "\e610";
  font-family: 'tm-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12pt;
}

/* Navbar dropdown */

.topnav-dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
  margin-left: -64px;
  margin-top: 2px;
  border: 1px solid #ddd;
}

.topnav-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.topnav-dropdown { 
  display: inline-block;
  padding-bottom: 2px;
  margin-bottom: -2px;
}

.topnav-dropdown-content a { 
  color: #037cb7;
}

.topnav-dropdown:hover .topnav-dropdown-content { 
  display: block;
}

.topnav-dropdown-arrow {
  border: solid rgba(255,255,255,.75);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 2px;
  margin-left: 4px;
}

.topnav-dropdown-arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.tm_nps_review_link { text-decoration: underline !important; }
.tm_nps label { margin-top: 0; }
.tm_nps_container { border-radius: 4px !important; background-color: #037cb7; color: #fff; }
.tm_nps_container label { color: #fff; }
.page-feedback #page-title { display: none;}
.form-item-field-user-testimonial-und-0-value label { font-size: 1rem; }
@media #{$medium-up} {
  .views-table .views-field-title { min-width: 8rem; padding-left: 1rem;}
  .views-table .views-field-score { padding-left: 1rem;}
  .views-table .views-field-comment { padding-left: 1rem; padding-right: 1rem;}
  .views-table .views-field-realname { min-width: 12rem; max-width: 12rem; }
  .views-table .views-field-created { min-width: 10rem; }
}

/* Top Navbar in Header */
/* Set $conf["tm_branding_navbar_top"] = true; */
@media only screen and (max-width: 65rem) {

  .top-navbar.top-navbar-header {
    display: none !important;
  }
}

.topnav-search-container.top-navbar-header {
  display: none;
}

.top-navbar.top-navbar-header {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 80%;
  background-color: inherit;
  text-align: center;
}

.top-navbar.top-navbar-header a {
  color: $primary-color;
  font-size: 12.5pt;
  font-weight: 800;
} 

#topnav-search-button {
  display: inline-block;
  width: 1.5rem;
  margin-bottom: -8px;
}

#topnav-search-button:before {
  font-family: 'tm-icons';
  content: "\e610";
  position: relative;
  top: 2px;
}

/* Lists Footer */

.lists-footer-container {
  text-align: left;
  width: 100%;
  color: $primary-color;
}

.lists-footer-container ul {
  list-style-type: none;
  margin-left: 0;
  margin-top: 0;
  text-align: left;
  padding-left: 0.5rem;
}

.tm-lists-footer {
  padding-top: 2rem;
  text-align: center;
}

.tm-lists-footer-label {
  color: $primary-color;
}

a.tm-lists-footer-label-link {
  color: $primary-color;
}

a.tm-lists-footer-label-link:hover {
  text-decoration: underline;
}

.tm-lists-footer-details {
  margin-left: 0.75rem;
}

/* Online Events */

.tm-online-events-edit-form-message {
  background-color: #1ABC9C;
  color: #fff;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 0.5rem;
  font-size: 13.6px;
  line-height: 20px;
  margin-top: 16px;
}

.tm-online-events-edit-form-message a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

.tm-go-live-button {
  display: inline-block !important;
  background-color: #4f9bd6 !important;
  color: #fff !important;
  margin-left: 16px !important;
  border-radius: 2px !important;
  margin-top: 4px !important;
}

.tm-go-live-button:hover {
  background-color: #4584ba !important;
}

.tm-end-live-button {
  display: inline-block !important;
  background-color: #dd624d !important;
  color: #fff !important;
  margin-left: 16px !important;
  border-radius: 2px !important;
  margin-top: 4px !important;
}

.tm-end-live-button:hover {
  background-color: #d94830 !important;
}

/* Forms */

ul.tm-checklist {
  list-style: none;
  padding-left: 16px;
}

ul.tm-checklist li:before {
  font-family: 'tm-icons';
  content: "\e609";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 8px;
}

/* Verification */

.tm-account-menu-verification:before {
  font-family: 'tm-icons';
  content: "\e673";
  margin-right: 4px !important;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tm-moderator-menu-verification:before {
  font-family: 'tm-icons';
  content: "\e673";
  color: #3e9fef !important;
  margin-right: 4px !important;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Health and Safety and Response to COVID-19 Crisis */

.detail-item.field-event-covid19-message h2,
.detail-item.field-user-covid19-message h2,
.detail-item.field-company-covid19-message h2 {
  margin-bottom: 8px;
  border: 0 none;
  clip: unset;
  height: auto;
  overflow: hidden;
  padding: initial;
  position: relative;
  width: inherit;
  font-size: 0.9rem;
}

/* Cancel Button */

.bttn.bttn-tertiary.bttn-m.cancel { 
  margin-left: 8px;
}

/* Preload background shimmer  */

@keyframes tm-placeholder-shimmer {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: 100em 0;
  }
}

.tm-preloading-background {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: tm-placeholder-shimmer;
  animation-timing-function: linear;
  background: #ffffff;
  background: linear-gradient(to right, #ffffff 8%, #eeeeee 18%, #ffffff 33%); 
}

/* Feedme */

.tm-frontpage-feed-fullwidth { margin-left: 16px !important; margin-right: 16px !important; }
.contained.contained-block.feedme { border-left: 8px solid #488bf8; }
.contained.contained-block.feedme-marketplace { border-left: 8px solid #FC389A; }
.contained.contained-block.feedme-discussions { border-left: 8px solid #3838FC; }

img.feedme-image { max-height: 64px;}
img.feedme-image-marketplace { height: 64px; object-fit: contain; }
img.feedme-image-discussions { height: 64px; object-fit: contain; }

#frontpage_feed .feedme-marketplace .media  { width : 72px; height: 72px; }
#frontpage_feed .feedme-discussions .media  { width : 72px; height: 72px; }

#frontpage_wordpress_feed #feedme-placeholder { height: 600px; }
#frontpage_marketplace_feed #feedme-placeholder { height: 648px; }
#frontpage_discussions_feed #feedme-placeholder { height: 400px; }

/* Profile add field */

.tm-add-field-label {
  position: relative;
  border-radius: 12px;
  background: #efefef;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  color: #007eb5;
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: 600;
}

.tm-hide-field-label {
  color: #007eb5;
  line-height: 1;
}

.tm-add-field-label:hover, .tm-hide-field-label:hover{
  cursor: pointer;  
}

.tm-add-field-add-sign {
  margin-right: 4px;
}

.tm-add-field-add-sign:before {
  content: "+";
  font-weight: bold;
}

.tm-add-field-close-sign {
  margin-right: 4px;
}

.tm-add-field-close-sign:before {
  font-family: 'tm-icons';
  content: "\e61b";
  color: #007eb5;
}

/* Ticket price field */
.detail-price a { 
  text-decoration: underline;
}
