input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin-top:-2px;
  margin-bottom: -2px;
}

.form-item,
#edit-field-event-date {
  margin: 0;
}

.form-wrapper,
.form-item-title {
  margin: 0;
}

input[type="file"] {
  font-size: 0.85rem;
}

input[type="text"],
input[type="password"],
input[type="search"],
textarea {
  -webkit-appearance: none;
  border: 1px tint($primary-color, 80%) solid;
  background: #FFF;
  box-shadow: inset 0 2px 0 0 rgba($primary-color, 0.05);
  border-radius: $global-radius;
  display: block;
  margin: 0;
  width: 100%;
  line-height: 1.25rem;
  padding: 0.3125rem 0.5rem;
  font-size: 0.85rem;
  @include transition(border-color 0.2s ease 0);
  &:focus {
    outline: 0;
    border-color: tint($primary-color, 50%);
  }
  &:disabled {
    opacity: 0.6;
  }
}

html.js .form-text.form-autocomplete {
  background-position: 98% 0.65rem;
  &.throbbing {
    background-position: 98% -0.85rem;
  }
}

.form-submit {
  @extend .bttn-tertiary, .bttn-m;
  &:before {
    @extend .icon-s-tick;
  }
}

#edit-submit {
  @extend .bttn-success, .bttn-m;
}

#edit-delete {
  @extend .bttn-danger, .bttn-m;
}

label {
  font-size: 0.85rem;
  line-height: 1.25rem;
  font-weight: $body-font-bold;
  margin-bottom: 0.5rem;
  color: tint($primary-color, 20%);
  margin-top: 1.5rem;
}

#edit-tm-notifications .fieldset-wrapper {
  margin-top: 1.5rem;
}

// .form-type-link-field > label {
//   margin-bottom: -1rem;
//   text-transform: uppercase;
// }

.node-form,
#user-profile-form,
#user-register-form {
  .image-preview {
    border: 1px tint($primary-color, 90%) solid;
    padding: 0.25rem;
    border-radius: $global-radius;
    margin: 0 0.5rem 0 0;
    img {
      display: block;
      border-radius: $global-radius;
      width: 6rem;
    }
  }
  .image-widget-data {
    padding-top: 0.25rem;
    .file, .file-size {
      font-size: 0.85rem;
      line-height: 1.25rem;
      img {
        display: none;
      }
    }
    .file {
      float: left;
      max-width: 10rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 0.25rem;
    }
    #edit-field-image-und-0-remove-button,
    #edit-field-avatar-und-0-remove-button {
      display: block;
      margin-top: 0.25rem !important;
      @extend .bttn-s;
    }
  }
  .link-field-column {
    width: 100%;
    margin-top: -1rem;
    .form-text {
      width: 100%;
    }
  }
  .filter-wrapper {
    display: none;
  }
  .description {
    color: tint($primary-color, 40%);
    font-size: 0.85rem;
    line-height: 1.25rem;
    margin: 0.5rem 0 0 0;
  }
  .fieldset-legend {
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: $body-font-bold;
    padding: 0;
    text-transform: uppercase;
  }
  .field-multiple-table {
    width: 100%;
    td {
      padding: 1rem;
    }
  }
  .container-inline-date .date-padding {
    padding-left: 0;
    padding-top: 0;
  }
  .password-parent, .confirm-parent {
    width: auto;
    position: relative;
    padding-bottom: 2rem;
  }
  .password-strength,
  div.password-confirm {
    position: absolute;
    left: 0;
    bottom: 0;
    float: none;
    margin: 0;
    width: 100%;
    font-size: 0.85rem;
    line-height: 1.5rem;
    visibility: visible !important;
  }
  .password-strength-text {
    font-weight: $body-font-bold;
    color: tint($primary-color, 40%);
  }
  .password-suggestions {
    border-radius: $global-radius;
    background: tint($primary-color, 95%);
    padding: 1rem;
    color: tint($primary-color, 40%);
    font-size: 0.85rem;
    line-height: 1.25rem;
    width: auto;
    border: none;
    ul {
      padding: 0 0 0 2rem;
      margin: 0.5rem 0 0 0;
    }
  }
  .password-indicator {
    height: 0.25rem;
    background: tint($primary-color, 80%);
    border-radius: $global-radius;
    div {
      background: $success-color;
      border-radius: $global-radius;
    }
  }
  select {
    width: 100%;
    font-size: 0.85rem;
  }
  .selects {
    select {
      margin: 0 0 0.5rem 0;
    }
    .grippie {
      margin: -0.25rem 0 0 0;
    }
  }
  > div {
    @extend .contained;
    padding: 1rem;
  }
  .field-group-fieldset,
  .form-field-type-datetime fieldset,
  #edit-timezone {
    border: 0;
    border-bottom: 1px tint($primary-color, 90%) solid;
    padding: 0 1rem 1.5rem 1rem;
    margin: 0 -1rem 1rem -1rem;
  }
  .form-actions {
    text-align: center;
    padding: 0 1rem;
    margin: 0 -1rem 0 -1rem !important;
    * {
      margin: 0 0.25rem;
    }
  }

  @media #{$medium-up} {
    .link-field-column {
      width: 50%;
      &:first-child { padding-right: $column-gutter/4; }
      &:last-child { padding-left: $column-gutter/4; }
    }
  }
  @media #{$large-up} {
    > div {
      padding: 2rem;
    }
    .form-actions {
      padding: 0 2rem;
      margin: 0 -2rem 0 -2rem !important;
    }
    .field-group-fieldset,
    .form-field-type-datetime fieldset,
    #edit-timezone {
      padding: 0 2rem 2rem 2rem;
      margin: 0 -2rem 2rem -2rem;
    }
  }
}

.hierarchical-select-wrapper .nojs .help-text {
  display: none;
}

// Tabs

#user-profile-form,
#user-register-form {
  .horizontal-tabs {
    border: none;
    padding: 0;
    margin: -1rem -1rem 0 -1rem;
    .horizontal-tabs-list {
      border: none;
      background: tint($primary-color, 80%);
      border-radius: $global-radius $global-radius 0 0;
      margin: 0 0 1rem 0;
      li, li.selected {
        border: 0;
        background: none;
        padding: 0;
        a {
          padding: 0.5rem 1rem;
          color: $primary-color;
          &:focus {
            opacity: 1;
          }
          &:hover {
            background: inherit;
          }
        }
      }
      li.selected a {
        background: #FFF;
        &:hover {
          background: #FFF;
        }
      }
      li:first-child,
      li:first-child a {
        border-radius: $global-radius 0 0 0;
      }
    }
    .horizontal-tabs-pane {
      padding: 0 1rem;
      max-height: 352rem;
      opacity: 1;
      @include transition-property(max-height, opacity);
      @include transition-duration(0.4s, 0.2s);
      @include transition-timing-function(linear, linear);
      @include transition-delay(0, 0);
      overflow: visible;
      &.horizontal-tab-hidden {
        position: static;
        top: 0;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
      }
    }
  }
  @media #{$large-up} {
    .horizontal-tabs {
      margin: -2rem -2rem 0 -2rem;
      .horizontal-tabs-pane {
        padding: 0 2rem;
      }
      .horizontal-tabs-list {
        margin: 0 0 2rem 0;
        li, li.selected {
          a {
            padding: 1rem 2rem;
          }
        }
      }
    }
  }
}

// Collapsables

html.js .collapsible .fieldset-legend {
  background: none;
  a {
    &:after {
      @extend .icon-s-arr-down;
      margin-left: 0.25rem;
    }
  }
}

// Selects

select {
  &:disabled {
    opacity: 0.6;
  }
}



.views-exposed-form {

  .views-exposed-widget {
    padding: 0;
  }

  .form-type-select {
    @extend .bttn, .bttn-m, .bttn-primary;
    width: 10rem;
    overflow: hidden;
    margin: 0 0.5rem;

    @include transform(translate3d(0, 0, 0));
    @include transition(opacity 0.2s ease 0);

    &:after {
      font-size: 1rem;
      float: right;
      margin-top: -1.5rem;
      @extend .icon-s-arr-down;
    }

    &:hover {
      opacity: 0.7;
    }

    select {
      @extend %antialiased;
      color: #FFF;
      font-weight: $body-font-bold;
      cursor: pointer;
      padding: 0 1.5rem 0 0.75rem;
      margin-left: -0.75rem;
      width: 130%;
      max-width: none;
      border: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &:focus {
        outline: none;
      }
      option {
        background-color: #FFF;
        color: $primary-color;
        font-weight: normal;
      }
    }
  }
  @media #{$medium-up} {
    .form-type-select {
      margin-right: 0; // So it sits nicely on the right. Can't use last-child, because of hidden submit with same class
    }
  }
}




// Draggable

.draggable a.tabledrag-handle {
  margin: 0 !important;
  padding: 0 !important;
  display: block;
  font-size: 1rem;
  &:before { @extend .icon-move; }
  height: 1.25rem;
  line-height: 1.25rem;
  width: 1.25rem;
  text-align: center;
  color: $primary-color;
  .handle {
    display: none;
  }
}

.warning.tabledrag-changed {
  display: none;
}

// Messages

.messages, .messages--status, .messages--warning, .messages--error {
  position: relative;
  border-radius: $global-radius;
  border: none;
  box-shadow: 0 0 0 4px rgba(#FFF, 0.5);
  font-size: 0.85rem;
  line-height: 1.25rem;
  margin: 1rem 0;
  padding: 1rem 1rem 1rem 2.75rem;
  background: none;
  color: #FFF;
  clear: both;
  &:before {
    font-size: 1rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 1.25rem;
    line-height: 1.25rem;
    width: 1.25rem;
    border-radius: 12rem;
    text-align: center;
  }
  a, a:visited, a:hover {
    color: #FFF;
    text-decoration: underline;
  }
  .messages__list {
    margin: 0 0 0 1rem;
    padding: 0;
  }
}

.messages.status {
  background: $success-color;
  &:before { @extend .icon-s-tick; }
}

.messages.warning {
  background: $warning-color;
  &:before { @extend .icon-circle-warning; }
}

.messages.error {
  background: $danger-color;
  &:before { @extend .icon-circle-error; }
}

// Color picker
.sp-replacer,
.sp-replacer:hover,
.sp-replacer.sp-active,
.sp-container,
.sp-palette .sp-thumb-el:hover,
.sp-palette .sp-thumb-el.sp-thumb-active {
  border: 1px tint($primary-color, 80%) solid;
  border-radius: $global-radius;
}

#edit-revalidate {
  margin-bottom: 48px;
}

// Invitation form
#page-title { margin-left: 16px; }
