input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin-top:-2px;
  margin-bottom: -2px;
}

.form-item,
#edit-field-event-date {
  margin: 0;
}

.form-wrapper,
.form-item-title {
  margin: 0 0 1rem 0;
}

input[type="file"] {
  font-size: 0.85rem;
}

input[type="text"],
input[type="password"],
input[type="search"],
textarea {
  border: 1px tint($primary-color, 80%) solid;
  background: #FFF;
  box-shadow: inset 0 2px 0 0 rgba($primary-color, 0.05);
  border-radius: $global-radius;
  display: block;
  margin: 0;
  width: 100%;
  line-height: 1.25rem;
  padding: 0.3125rem 0.5rem;
  font-size: 0.85rem;
  @include transition(border-color 0.2s ease 0);
  &:focus {
    outline: 0;
    border-color: tint($primary-color, 50%);
  }
  &:disabled {
    opacity: 0.6;
  }
}

html.js .form-text.form-autocomplete {
  background-position: 100% 0.65rem;
  &.throbbing {
    background-position: 100% -0.85rem;
  }
}

.form-submit {
  @extend .bttn-secondary, .bttn-m;
}

label {
  font-size: 0.85rem;
  line-height: 1.25rem;
  font-weight: $body-font-bold;
  margin-bottom: 0.5rem;
  color: tint($primary-color, 20%);
}

.node-form,
#user-profile-form {
  > div { @extend .contained; }
  .image-preview {
    border: 1px tint($primary-color, 90%) solid;
    padding: 0.25rem;
    border-radius: $global-radius;
    margin: 0 0.5rem 0 0;
    img {
      display: block;
      border-radius: $global-radius;
    }
  }
  .image-widget-data {
    padding-top: 0.25rem;
    .file, .file-size {
      font-size: 0.85rem;
      line-height: 1.25rem;
      img {
        display: none;
      }
    }
    .file {
      float: left;
      max-width: 10rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 0.25rem;
    }
    #edit-field-image-und-0-remove-button {
      display: block;
      margin-top: 0.25rem !important;
    }
  }
  .form-actions {
    text-align: center;
    padding: 1rem;
    margin: 0 !important;
    * {
      margin: 0 0.25rem;
    }
  }
  .link-field-column {
    width: 100%;
    .form-text {
      width: 100%;
    }
  }
  .filter-wrapper {
    display: none;
  }
  .description {
    color: tint($primary-color, 40%);
    font-size: 0.85rem;
    line-height: 1.25rem;
    margin: 0.5rem 0 0 0;
  }
  fieldset {
    border: 0;
    border-bottom: 1px tint($primary-color, 90%) solid;
    padding: 0 1rem 1rem 1rem;
    margin: 0;
  }
  .fieldset-legend {
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: $body-font-bold;
    padding: 1rem 0;
    text-transform: uppercase;
  }
  .field-multiple-table {
    width: 100%;
    td {
      padding: 1rem;
    }
  }
  .container-inline-date .date-padding {
    padding-left: 0;
    padding-top: 0;
  }

  @media #{$medium-up} {
    .link-field-column {
      width: 50%;
      &:first-child { padding-right: $column-gutter/4; }
      &:last-child { padding-left: $column-gutter/4; }
    }
  }
  @media #{$large-up} {
    .form-actions {
      padding: 2rem;
    }
    fieldset {
      padding: 0 2rem 2rem 2rem;
    }
    .fieldset-legend {
      padding: 2rem 0 1.5rem 0;
    }
  }
}

// Selects

select {
  &:disabled {
    opacity: 0.6;
  }
}

#edit-type-wrapper {
  padding: 0;
}

.form-item-type {
  @extend .bttn, .bttn-m, .bttn-secondary;
  width: 12rem;
  overflow: hidden;

  @include transform(translate3d(0, 0, 0));
  @include transition(opacity 0.2s ease 0);

  &:after {
    font-size: 1rem;
    float: right;
    margin-top: -1.5rem;
    @extend .icon-s-arr-down;
  }

  &:hover {
    opacity: 0.7;
  }

  select {
    @extend %antialiased;
    color: #FFF;
    font-weight: $body-font-bold;
    cursor: pointer;
    padding: 0 1.5rem 0 0.75rem;
    margin-left: -0.75rem;
    width: 130%;
    max-width: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:focus {
      outline: none;
    }
    option {
      background-color: #FFF;
      color: $primary-color;
      font-weight: normal;
    }
  }
}

// Draggable

.draggable a.tabledrag-handle {
  margin: 0 !important;
  padding: 0 !important;
  display: block;
  font-size: 1rem;
  &:before { @extend .icon-move; }
  height: 1.25rem;
  line-height: 1.25rem;
  width: 1.25rem;
  text-align: center;
  color: $primary-color;
  .handle {
    display: none;
  }
}

.warning.tabledrag-changed {
  display: none;
}

// Messages

.messages, .messages--status, .messages--warning, .messages--error {
  position: relative;
  border-radius: $global-radius;
  border: none;
  box-shadow: 0 0 0 1px rgba(#FFF, 0.6);
  font-size: 0.85rem;
  line-height: 1.25rem;
  margin: 1rem 0;
  padding: 1rem 1rem 1rem 3rem;
  background: none;
  color: #FFF;
  clear: both;
  &:before {
    font-size: 1rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 1.25rem;
    line-height: 1.25rem;
    width: 1.25rem;
    border-radius: 12rem;
    text-align: center;
  }
}

.messages.status {
  background: $primary-color;
  &:before { @extend .icon-circle-info; }
}

.messages.warning {
  background: #f39c12;
  &:before { @extend .icon-circle-warning; }
}

.messages.error {
  background: #e74c3c;
  &:before { @extend .icon-circle-error; }
}

// Color picker
.sp-replacer,
.sp-replacer:hover,
.sp-replacer.sp-active,
.sp-container,
.sp-palette .sp-thumb-el:hover,
.sp-palette .sp-thumb-el.sp-thumb-active {
  border: 1px tint($primary-color, 80%) solid;
  border-radius: $global-radius;
}
