/* Style for TM sidebar */

body.tm_sidebar {
    margin-left: 256px;
    background-color: #f3f4f5;
}

#tm_sidenav {
    width: 245px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 1px solid #ddd;
    z-index: 1000;
    padding-top: 0px;
    transition: all 0.1s ease-in-out;
    box-shadow: none;
    overflow-y: hidden;
}

#tm_sidenav.min {
	position: absolute;
    padding-top: 45px;
    opacity: 1;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.15);
}

#tm_sidenav_toggle {
    position: fixed;
    top: 0;
    left: 0;
    height: 48px;
    width: 48px;
    background-color: #fff;
    border-radius: 24px;
    padding: 8px;
    padding-top: 12px;
    text-align: center;
    vertical-align: center;
    z-index: 1001;
}

#tm_sidenav_toggle.tm_sidenav_toggle_fixed {
	position: absolute;
}

#tm_sidenav_logo {
    width: 172px;
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 10px
}

#tm_sidenav_logo_link:hover { 
	opacity: 1 !important;
}

#tm_sidenav ul {
    list-style-type: none;
    margin-top: 19px;
    padding-left: 20px;
    line-height: 1.5;
    padding-left: 20px;
    margin-left: 5px;
}

#tm_sidenav li {
    font-size: 17pt;
    font-weight: 600; 
} 

#tm_sidenav li a {
    color: #808080;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 1;
}

#tm_sidenav li a:hover {
    color: #007eb5;
    text-decoration: none;
    background-color: #eee;
    border-radius: 16px;
}

#tm_sidenav li a:active {
    text-decoration: none;
}

.tm_sidenav_login { 
	color: #808080;
}

.tm_sidenav_login a {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

#tm_sidenav_search {
	font-family: 'Lato', sans-serif;
    width: 196px;
    border-radius: 16px;
    border: 2px solid #ddd;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 300;
    box-shadow: none;
    line-height:26px;
    height: 45px;
}

#tm_sidenav_search:focus {
    outline: none;
}

#tm_sidenav_search:hover {
    border: 2px solid #007eb5;
}

.tm_sidenav_home_icon:before {
    font-family: 'tm-icons';
    content: "\e65c";
    margin-right: 5px;
}

.tm_sidenav_profile_icon:before {
    font-family: 'tm-icons';
    content: "\e678";
    margin-right: 5px;
    font-weight: 200;
}

.tm_sidenav_settings_icon:before {
    font-family: 'tm-icons';
    content: "\e636";
    font-size: 20px;
    margin-right: 5px;
    font-weight: 200;
}

.tm_sidenav_profile_icon:before {
    font-family: 'tm-icons';
    content: "\e678";
    margin-right: 5px;
    font-weight: 200;
}

.tm_sidenav_sign_in_icon:before {
    font-family: 'tm-icons';
    content: "\e678";
    margin-right: 0px;
    margin-left: 10px;
    font-weight: 200;
}

.tm_sidenav_marketplace_icon:before {
    font-family: 'tm-icons';
    content: "\e658";
    margin-right: 5px;
    font-weight: 200;
}

.tm_sidenav_replays_icon:before {
    font-family: 'tm-icons';
    content: "\e680";
    margin-right: 5px;
    font-size: 20px;
}

.tm_sidenav_lists_icon:before {
    font-family: 'tm-icons';
    content: "\e635";
    margin-right: 5px;
    font-weight: 200;
    font-size: 18px;
    display: inline-block;
}

.tm_sidenav_more_icon:before {
    font-family: 'tm-icons';
    content: "\e62e";
    margin-right: 5px;
    font-size: 20px;
}

.tm_sidenav_events_icon:before {
    font-family: 'tm-icons';
    content: "\e62a";
    margin-right: 5px;
    font-size: 20px;
}

.tm_sidenav_add_event_icon:before {
    font-family: 'tm-icons';
    content: "\e625";
    font-size: 20px;
    margin-right: 5px;
}

.tm_sidenav_toggle_icon:before {
    font-family: 'tm-icons';
    content: "\e622";
    font-size: 26px;
    color: #007eb5;
}

.tm_sidenav_toggle_icon:before {
    font-family: 'tm-icons';
    content: "\e622";
    font-size: 26px;
    color: #007eb5;
}

.tm_sidenav_news_icon:before {
    font-family: 'tm-icons';
    content: "\e686";
    margin-right: 5px;
    font-size: 20px;
}

#account-menu-blk { 
	font-size: 24px;
	line-height: 1.5;
	color: #4a4a4a;
}

.tm-sidebar-login a {
	color: #176CF6;
	text-decoration: underline !important;
}

#tm_sidenav .tm-account-menu-verification:before {
	font-size: 20px !important;
}

#tm_sidenav_moderator_options {
	width: 196px;
	font-size: 24px;
	margin-top: 8px;
	border-radius: 8px;
	border: 1px solid #808080;
}

@media screen and (max-width: 1024px) {
    body {
        margin-left: inherit !important;
    }
    #container-theme { 
        margin-top: 20px;
    }
    #tm_sidenav {
        opacity: 0;
        display: none;
    }
    #tm_sidenav_toggle {
        display: block;
    }
}

@media screen and (min-width: 1025px) {
    #tm_sidenav {
        opacity: 1 !important;
    }
    #tm_sidenav_toggle {
        display: none !important;
    }
    #tm_sidenav_toggle.min {
        padding-top: 0rem !important;
        box-shadow: none !important;
    }
}

/* Social Icons */

#tm_sidenav_icons {
    position: absolute;
    bottom: 0;
    width: 235px;
    list-style-type: none;
    padding: 0;
    margin-bottom: 8px;
    background-color: #fff;
}

#tm_sidenav_icons li {
    display: inline-block;
    margin: 0 !important;
}

#tm_sidenav_icons li a {
    padding: 2px !important;
    font-size: 28px;
    font-weight: 200 !important;
}

#tm_sidenav_icons li a:hover {
    background-color: #fff;
    border-radius: 0;
    opacity: 0.7;
}

@media screen and (min-width: 1025px) and (max-height: 1000px){
    #tm_sidenav_icons.signed_in { display: none; }
    #tm_sidenav li { font-size: 16pt; }
    .tm_sidenav_icon:before { font-size: 16pt; }
}

@media screen and (min-width: 1025px) and (max-height: 800px){
    #tm_sidenav li { font-size: 13pt; }
    .tm_sidenav_icon:before { font-size: 13pt; }
    #tm_sidenav_moderator_options { font-size: 13pt; }
}

@media screen and (min-width: 1025px) and (max-height: 700px){
    #tm_sidenav li { font-size: 17pt; }
    .tm_sidenav_icon:before { font-size: 17pt; }
    body { margin-left: inherit !important; }
    #container-theme { margin-top: 20px; }
    #tm_sidenav { opacity: 0; display: none; }
    #tm_sidenav_toggle { display: block !important; }
    #tm_sidenav_icons { display: block !important; }
    #tm_sidenav_icons.signed_in { display: block !important; }
    #tm_sidenav_moderator_options { font-size: 24px; }
}

@media print {
    body { margin-left: inherit !important; }
    #tm_sidenav {
        display: none;
    }
    #tm_sidenav_toggle {
        display: none;
    }
}

/* Profile badges */

.tm-sidebar-pro-member-badge {
    font-size: 12.5pt;
    color: #ffffff !important;
    background-color: #ffb800;
    border-radius: 4px;
    display: inline-block;
    display: inline-block;
    vertical-align: middle;
    margin-top: -6px;
}

.tm-sidebar-pro-member-badge:hover {
    background-color: #ffb800 !important;
    border-radius: 4px !important;
}

.tm-sidebar-pro-member-badge:before {
    font-family: 'tm-icons';
    content: "\e655";
    color: #ffffff;
    margin-right: 2px;
}

.tm-sidebar-leader-badge {
    font-size: 10pt;
    color: #ffffff !important;
    background-color: #3838FC;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
}

.tm-sidebar-leader-badge:hover {
    background-color: #3838FC !important;
    border-radius: 4px !important;
}

.tm-sidebar-leader-badge:before {
    font-family: 'tm-icons';
    content: "\e666";
    color: #ffffff;
    margin-right: 4px;
    font-size: 10pt;
}

.tm-sidebar-pro-member-upgrade {
    font-size: 12.5pt;
    color: #fff !important;
    background-color: #3838FC;
    border-radius: 4px;
    padding: 2px 4px;
    font-weight: 400;
}

.tm-sidebar-pro-member-upgrade:hover {
    background-color: #3838FC !important;
    border-radius: 4px !important;
}
