						<!-- BEGIN MODULE: Footer 7 -->
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                            <tbody>
                              <tr>
                                <td class="pc-sm-p-38-30-40 pc-xs-p-25-20" style="padding: 38px 40px 40px 40px; background-color: #ffffff" valign="top" bgcolor="#ffffff">
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                                    <tbody>
                                      <tr>
                                        <td height="15" style="font-size: 1px; line-height: 1px;" valign="top">&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td class="pc-fb-font" style="text-align: center; line-height: 20px; letter-spacing: -0.2px; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 14px; color: #9B9B9B" valign="top">
                                          <p>Company Address</p>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td height="13" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td class="pc-fb-font" style="text-align: center; font-size: 0;" valign="top">
                                          <a href="[unsubscribe]" style="text-decoration: none; line-height: 24px; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 500; color: #1595E7">Unsubscribe</a>
                                          <span style="line-height: 24px; font-family: Arial, sans-serif; font-size: 14px; color: #9B9B9B;">&nbsp;•&nbsp;</span><a href="[Unsubscribe_Preferences]" style="text-decoration: none; line-height: 24px; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 500; color: #1595E7">Update Preferences</a></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- END MODULE: Footer 7 -->